* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

#banner{
  background-image: url(img/banner-topo.png);
  background-size: cover; /* Para cobrir todo o elemento */
  background-position: center; /* Para centralizar a imagem */
  /* Outros estilos opcionais */
  color: white; /* Cor do texto */
  padding: 50px; /* Espaçamento interno */
}
main #banner {
  /*  background-image: url("img/augusto02.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}
main #banner .banner-image {
  border-radius: 50%;
  max-width: 200px;
  height: 200px;
  margin-top: 70px;
}
.banner-content{
  padding: 5%;
}
body,
button,
input,
select,
textarea {
  font-family: "Heebo";
}
body {
  background-color: #f7f7f7;
}
header {
  background-color: #ffffff;
  height: 80px;
  font-weight: 600;
}
header #navbar {
  display: flex;
  padding: 0 2rem; /* 2 rem é 32 px*/
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header #navbar .nav-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(92, 92, 92);
}
header #navbar .nav-list {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 2em;
}
header #navbar .nav-list .nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}
header #navbar .nav-list .nav-item a:hover {
  color: #a0a0a0;
  transition: 0.5s;
}
header #navbar .hamburger-menu {
  display: none;
}
section .posts-cards .post-card{
  width: 50%;
}
section .posts-cards .post-card p{
  font-size: 1.5rem;
  color: #747474;

}
section .posts-cards .post-card h3{
  color: #636363;
}
.container{
  width: 97%;
  margin: 0 auto;
}

.capa-durara img{
  width: 200px;
}
/* Player durarara*/
/* Estilos para o player de áudio */


/* Fim player Durarara */
.container h2{
  font-size: 3em;
  font-weight: 800;

}
h2{
  color: #5f5f5f;
  display: flex;
  margin: 0 auto;
  font-size: 3em;
  font-weight: 800;
  justify-content: center;
}
.container p{
  font-size: 1.8rem;
  color: #666565;
}
.container img{
  width: 60%;
}
.container .content-postum h2{
  font-size: 3em;
  font-weight: 800;

  margin-top: 8%;
}
.content-postum{
  width: 70%;
  margin: 0 auto;
}
.content-postum img{
  margin-bottom: 25px;
}
#ofilme{
  margin-bottom: 10%;
}
/* FOOTER */
/* CSS */
.rodape {
  background-color: #19bda1;
  color: #fff;
  padding: 20px 0;
  justify-content: space-between;
}


.rodape-conteudo {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 20%;
  margin-right: 10px;
  border-radius: 50%;
}

.informacoes ul,
.redes-sociais ul {
  list-style: none;
  padding: 0;
}

.redes-sociais ul li {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociais ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.redes-sociais ul li a:hover {
  color: #ff6600; /* Altere para a cor desejada */
}
.oscar img{
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.container h2{
  width: 95%;
  line-height: 1.2;
}
.oscar h2{
  display: flex;
  margin: 0 auto;
}
.oscar-p{
  
  width: 70%;
  margin: 0 auto;
}
.container .oscar-p{
  margin-top: 40px;
}
.creditos {
  text-align: center;
  margin-top: 10px; /* Adicionando espaço extra entre o conteúdo e os créditos */
}
.banner-content-btn {
  text-decoration: none; /* Remove o sublinhado */
}
.banner-content-btn:hover {
  background-color: #0e9b83;
}

/* FIM FOOTER */
@media (max-width: 920px) {
  header #navbar .hamburger-menu {
    display: block;
  }
  header #navbar .nav-list {
    display: none;
  }
}

/* Section banner*/

main #banner .banner-content .banner-content-title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}
main #banner .banner-content .banner-content-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
  margin-bottom: 38px;
}
main #banner .banner-content .banner-content-btn {
  background-color: #19bda1;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
  padding: 8px 24px;
  border: none;
}
main #banner .banner-content .banner-content-btn:hover{
  background-color: #0c967f;
}
/* Video post um trailer o menino e a garça */
.postum{
  display: flex;
  justify-content: center;
  
}
.postum video{
  
  width: 70%;

}
.postum{
  display: flex;
  justify-content: center;
}
.rodape-conteudo{
  width: 90%;
  margin: 0 auto;
}
.logo, .informacoes, .redes-sociais{
  width: 35%;
}

@media screen and (max-width: 920px) {
  main #banner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  main #banner .banner-content {
    text-align: center;
  }
  main #banner .banner-content .banner-content-subtitle {
    margin: 0 auto;
    margin-bottom: 38px;
    gap: 2rem;
  }
  main #banner .banner-image {
    border-radius: 50%;
    max-width: 200px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  #banner {
    /* Nova imagem de fundo para dispositivos móveis */
    background-image: url(img/banner2.png);
    padding: 20px; /* Espaçamento interno para dispositivos móveis */
  }
}
@media screen and (max-width: 700px) {
  body {
    background-color: #f5f5f5;
  }

  .postum video{
    display: flex;
    justify-content: center;
    width: 99%;
  }
  main #banner .banner-content .banner-content-title {
    font-size:25px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .container p{
    font-size: 1.5em;
    margin: 0 auto;
  }
  .oscar-p{
    width: 98%;
    margin: 0 auto;
  }
  .container .oscar-p{
    margin-top: 40px;
  }
  .content-postum{
    width: 98%;
    margin: 0 auto;
  }
}
/* Secao de posts*/
section#posts {
  margin-top: 71px;
  background-color: #ccfcf4;
}
#posts .posts-content {
  max-width: 1100px;
  padding: 0 1rem;
  margin: 0 auto;
}
#posts .posts-content .post-content-header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 2rem 0;
}
#posts .posts-content .post-content-header .section-title {
  font-size: 22px;
  font-weight: 500;
}
#posts .posts-content .post-content-header .view-all-link {
  text-decoration: none;
  color: #19bda1;
}
#posts .posts-content .posts-cards {
  display: flex;
  gap: 2rem;
  margin-bottom: 30px;
}
#posts .posts-content .post-card {
  background-color: #fff;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}
#posts .posts-content .post-card h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 37px;
}
#posts .posts-content .post-card span {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  display: block;
}
.posts{
  margin: 20px;
}
@media (max-width: 720px) {
  #posts .posts-content .posts-cards {
    flex-direction: column;
    
  }
  .container .postum{
   
    margin: 0 auto;
  
  }
  .rodape-conteudo h2{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
  }
  
}
.paragrafo-um {
  font-size: 23rem;
  background-color: #19bda1;
}
